
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>אודות</h1>


<div  style="text-align:center" class="card-header">
    <p> פרויקט זה פותח במסגרת קורס פולסטאק לגברים שע"י מכללת בוטקמפ</p>
    <p>אתר לחיפוש ופרסום אתרי נופש ואטרקציות</p>
    <p>(מקור השם דאצ'ק :שילוב בין המילה דאצע באידיש (נופש</p> 
    <p>באנגלית check ובין המילה </p>
</div>